<head>

	<!-- Analytics -->
	{{ template "_internal/google_analytics_async.html" . }}

	<!-- Metadata -->
	<meta charset="UTF-8">
	<meta http-equiv="Cache-control" content="private" max-age="604800">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ template "_internal/opengraph.html" . }}

	<!-- Style -->
	{{ $style := resources.Get "sass/test.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">

	<!-- Favicon and Title -->
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> 
	<title>{{ .Title }} | {{ .Site.Title }}</title>   

</head>