<section class="w-100 flex justify-center f4">

<!-- Previous Button -->
{{ if .PrevInSection }}
	<article class="tl">
		<div class="pa3">
			<a href="{{ .PrevInSection.Permalink }}" class="dim lh-title">Previous release: {{ .PrevInSection.Title }}</a>
        </div>
	</article>
{{ end }}

<!-- Next Button -->
{{ if .NextInSection }}
	<article class="tl">
		<div class="pa3">
			<a href="{{ .NextInSection.Permalink }}" class="dim lh-title">Next release: {{ .NextInSection.Title }}</a>
        </div>
	</article>
{{ end }}

</section>