{{ range where .Pages "Section" "releases" }}
    <article class="pv3 center w-third-l w-50-m w-100 tc release tl f4">
        <a href="{{.Permalink}}" data-title="{{.Title}}" data-date="{{ .Params.releaseDate }}" class="">
            <div class="front">
                <img class="" src="{{ .Params.mainImage }}">
            </div>
            <div class="back dn">
                <img class="" src="{{ .Params.backImage }}">
            </div>
        {{ .Title }}
        </a>
    </article>
{{ end }}